.button {
    border: none;
    outline: none;
    position: relative;
    background: none;
    font-family: Inter;
    height: 72px;
    cursor: pointer;
}

.button__text {
    position: absolute;
    left: 48px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.button__text__letter {
    color: var(--orange-100);
    font-weight: 600;
}

.background:hover .background__line,
.background:hover .background__shape,
.mobile__background:hover .mobile__background__line,
.mobile__background:hover .mobile__background__shape,
.button:focus .background__line,
.button:focus .background__shape,
.button:focus .mobile__background__line,
.button:focus .mobile__background__shape {
    stroke: var(--orange-100);
}

.background--inactive .background__line,
.background--inactive .background__shape,
.mobile__background--inactive .mobile__background__line,
.mobile__background--inactive .mobile__background__shape {
    stroke: var(--black-40);
}

.background--inactive .background__shape,
.mobile__background--inactive .mobile__background__shape {
    fill: var(--white-100);
}

.background--correct .background__line,
.background--correct .background__shape,
.mobile__background--correct .mobile__background__line,
.mobile__background--correct .mobile__background__shape {
    stroke: var(--green-100);
}

.background--correct .background__shape,
.mobile__background--correct .mobile__background__shape {
    fill: var(--green-5);
}

.background--wrong .background__line,
.background--wrong .background__shape,
.mobile__background--wrong .mobile__background__line,
.mobile__background--wrong .mobile__background__shape {
    stroke: var(--red-100);
}

.background--wrong .background__shape,
.mobile__background--wrong .mobile__background__shape {
    fill: var(--red-5);
}

.background--selected .background__line,
.background--selected .background__shape,
.mobile__background--selected .mobile__background__line,
.mobile__background--selected .mobile__background__shape {
    stroke: var(--orange-100);
}

.background--selected .background__shape,
.mobile__background--selected .mobile__background__shape {
    fill: var(--orange-5);
}

@media (max-width: 800px) {
    .button {
        height: 56px;
    }

    .button__text {
        font-size: 14px;
    }

    .mobile__background {
        display: block;
    }

    .background {
        display: none;
    }
}
