.button {
    text-align: center;
    padding: 20px;
    background-color: var(--orange-100);
    border: none;
    outline: none;
    border-radius: 16px;
    color: var(--white-100);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

.button:hover {
    background-color: var(--orange-80);
    cursor: pointer;
}

.button:focus {
    background-color: var(--orange-80);
}

.button:active {
    background-color: var(--orange-120);
}

@media (max-width: 800px) {
    .button {
        font-size: 14px;
        padding: 16px;
    }
}
