:root {
  --orange-120: #E87928;
  --orange-100: #FF8B37;
  --orange-80: #FFAC70;
  --orange-5: #FFF3EB;
  --green-100: #47D867;
  --green-5: #E6FAEA;
  --red-100: #EC6259;
  --red-5: #FDEEED;
  --black-100: #1C1C21;
  --black-40: #D0D0D8;
  --black-5: #F5F5F7;
  --white-100: #FFFFFF;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.8rem + 0.375vw, 1.25rem);
}

body {
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.font-headline {
  font-size: 56px;
  line-height: 1.16;
}

@media (max-width: 800px) {
  .font-headline {
    font-size: 32px;
  }
}
