.page {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: var(--font-geist-sans);
    background: linear-gradient(
        to bottom right,
        var(--white-100) 0% 50%,
        var(--orange-5) 50% 100%
    );
}

.content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: clamp(0px, 5vw, 120px);
    padding-inline: 80px;
}

.content__left {
    position: relative;
    flex: 1;
    height: 367px;
}

.content__right {
    display: flex;
    flex-direction: column;
    gap: 64px;
    min-width: 400px;
    width: 624px;
    margin: auto 0;
}

.content__right__title {
    font-size: 56px;
    font-weight: bold;
}

.content__right__button {
    width: 296px;
}

@media (max-width: 800px) {
    .content {
        flex-direction: column;
        height: 100vh;
        padding: 80px 16px 48px;
        justify-content: flex-start;
    }

    .content__left {
        position: relative;
        width: 100%;
        max-height: 60vw;
    }

    .content__right {
        width: 100%;
        margin: 0;
        gap: 0;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        min-width: auto;
    }

    .content__right__title {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }
}
