.content {
    display: flex;
    height: 100vh;
}

.content__left {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    background: var(--black-5);
    padding: 133px 0 120px 80px;
}

.steps {
    width: 376px;
    background: var(--white-100);
}
