.content {
    display: flex;
    height: 100vh;
}

.content__left {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    background: var(--black-5);
    padding: 133px 0 120px 80px;
}

.content__left__question {
    font-size: 32px;
    line-height: 1.16;
    max-width: 624px;
}

.content__left__options {
    display: flex;
    flex-wrap: wrap;
}

.content__left__options__variant {
    margin-bottom: 16px;
}

.steps {
    width: 376px;
    background: var(--white-100);
}

@media (max-width: 800px) {
    .content__left__question {
        font-size: 18px;
    }
}

@media (min-width: 2560px) {
    .content__left__question {
        font-size: 48px;
        max-width: 900px;
    }
}
